* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    position: relative;
    list-style: none;
}

html {
    font-size: 62.5%; /* 62,5% = 10px = 1rem */
}

body {
    font-size: clamp(16px, 2dvw, 30px);
    background: #f4790657;

    /* TODO */
    /* @media (max-width: 680px) {
        overflow-y: hidden;
    } */
}


section, 
header, 
footer, 
aside,
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1920px;
    flex-direction: column;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: clamp(28px, 4dvw, 3.8rem);
}

h2 {
    font-size: clamp(20px, 3dvw, 3rem);
}

h3 {
    font-size: clamp(18px, 2dvw, 2rem);
}

p, 
textarea, 
input, 
span, 
label,
button , tr{
    font-size: clamp(1.6rem, 1.5dvh, 2.8rem);
    font-weight: bold;
}

a {
    color: black;
}

button,
a {
    cursor: pointer; 
}

.d-none {
    display: none;
}